.mcase__wrapper {
    position: relative;
    height: auto;
}
body {
    scrollbar-width: none;
}

.mcase__wrapper .container {
    margin: 0 auto;
}

.mcase__wrapper .container::before {
    display: none;
}
.mcase__wrapper .container::after {
    display: none;
}

.mcase__flex {
    display: flex;
    justify-content: space-between;
}

.mcase1__block1 {
    background: radial-gradient(88.14% 72.25% at 78.99% 58.46%, #3368C6 0%, #031B4E 100%);
    padding: 50px 0;
    
}

.mcase1__block1 .mcase__flex {
    align-items: center;
}

.mcase1__title {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase1__left {
    width: 50%;
}

.mcase1__right {
    width: 47%;
}

.mcase1__left span {
    padding: 12px 24px;
    border-radius: 24px;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.mcase1__block2 {
    padding: 120px 0;
    background-color: #fff;
    border-radius: 80px 80px 0 0;
}

.mcase1__left2 {
    width: calc(50% - 16px);
}
.mcase1__right2 {
    width: calc(50% - 16px);
}

.mcase1__title2 {
    color: #272727;
    font-size: 48px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    margin-bottom: 32px;
    margin-top: 0;
}

.mcase1__text p {
    color: #4B4B4B;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
}

.mcase1__text b {
    color: #4B4B4B;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.mcase__about--item {
    margin-top: 45px;
}

.mcase__about b {
    color: #272727;
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 24px;
    display: block;
}

.mcase__about p {
    color: #4B4B4B;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
}

.mcase__about ul {
    margin-left: 20px;
}

.mcase__about li {
    color: #4B4B4B;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    list-style-type: disc;
}

.mcase__color {
    border-radius: 40px;
    padding: 32px;
    box-sizing: border-box;
}

.mcase__blue {
    background: #B4D7FF;
}

.mcase__blue b {
    margin-bottom: 16px;
    color: #272727;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mcase__blue p {
    margin-bottom: 24px;
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    display: flex;
    align-items: center;
}

.mcase__blue img {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

.mcase1__block3 {
    padding: 120px 0 200px;
    border-radius: 80px 80px 0 0;
    background: #21282B;
}

.mcase1__title3 {
    margin-bottom: 48px;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase1__left3 {
    display: flex;
    justify-content: space-between;
    width: calc(50% - 16px);
}

.mcase1__left3 img {
    width: calc(50% - 10px);
}

.mcase1__right3 {
    width: calc(50% - 16px);
    border-radius: 32px;
    background: rgba(26, 33, 27, 0.32);
    backdrop-filter: blur(10px);
    padding: 32px;
    box-sizing: border-box;
}

.mcase1__item3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mcase1__item3 span {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mcase1__item3--right {
    display: flex;
    align-items: end;
    flex-direction: column;
}

.mcase1__item3--right b {
    color: #FFF;
    text-align: right;
    font-size: 32px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase1__item3--right p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mcase1__bot3 {
    margin-top: 60px;
    position: relative;
}

.mcase1__bot3--incr {
    position: absolute;
    z-index: 2;
    bottom: 16px;
    left: 16px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.mcase1__block4 {
    border-radius: 80px 80px 0 0;
    padding: 120px 0 200px;
}

.mcase1__title4 {
    margin-bottom: 48px;
    color: #272727;
    font-size: 48px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase1__item4 {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
    border-bottom: 1px solid #B9B9B9;
    align-items: start;
}

.mcase1__item4 b {
    width: 310px;
    color: #272727;
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-transform: uppercase;
}

.mcase1__item4 p {
    margin: 0;
    color: #4B4B4B;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: calc(100% - 390px);
}

.mcase__others {
    padding: 120px 0;
    border-radius: 80px 80px 0 0;
    background: #F0F7FD;
}

.mcase__others--title {
    color: #272727;
    font-size: 48px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase__others--items {
    margin: 45px 0;
    display: flex;
    justify-content: space-between;
    height: 320px;
}

.mcase__others--item {
    display: block;
    height: 100%;
    width: calc(33% - 15px);
    position: relative;
}

.mcase__image-wrap img {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    display: block;
}

.mcase__image-wrap {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.mcase__image-wrap::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.7) 100%);
  pointer-events: none;
  border-radius: 32px;
}

.mcase__others--item b {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.333%;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
}

.mcase__others--all {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    border-radius: 32px;
    border: 1px solid rgba(73, 73, 73, 0.97);
    width: fit-content;
    text-decoration: none;
}

.mcase__others--all img {
    width: 28px;
    height: 28px;
    margin-right: 8px;
}

.mcase__others--all span {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.mcase__block {
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
}


.mcase-mainblock2 {
    z-index: 2;
}

.mcase-mainblock3 {
    z-index: 3;
}

.mcase-mainblock4 {
    z-index: 4;
}

.mcase-mainblock5 {
    z-index: 5;
}

.mcase-mainblock6 {
    z-index: 6;
}

.mcase1__block4 {
    background-color: #fff;
}