.mcase__wrapper {
    /* position: relative; */
    width: 100%;
    height: 100vh;
    overflow: auto;
}
body {
    scrollbar-width: none;
}

.mcase__wrapper .container {
    margin: 0 auto;
}

.mcase__wrapper .container::before {
    display: none;
}
.mcase__wrapper .container::after {
    display: none;
}

.mcase__flex {
    display: flex;
    justify-content: space-between;
}

.mcase1__block1 {
    background: radial-gradient(88.14% 72.25% at 78.99% 58.46%, #3368C6 0%, #031B4E 100%);
    padding: 50px 0;
    
}

.mcase1__block1 .mcase__flex {
    align-items: center;
}

.mcase1__title {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase1__left {
    width: 50%;
}

.mcase1__right {
    width: 47%;
}

.mcase1__left span {
    padding: 12px 24px;
    border-radius: 24px;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.mcase1__block2 {
    padding: 120px 0;
    background-color: #fff;
    border-radius: 80px 80px 0 0;
}

.mcase1__left2 {
    width: calc(50% - 16px);
}
.mcase1__right2 {
    width: calc(50% - 16px);
}

.mcase1__title2 {
    color: #272727;
    font-size: 48px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    margin-bottom: 32px;
    margin-top: 0;
}

.mcase1__text p {
    color: #4B4B4B;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
}

.mcase1__text b {
    color: #4B4B4B;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.mcase__about--item {
    margin-top: 45px;
}

.mcase__about b {
    color: #272727;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
    display: block;
}

.mcase__about p {
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    display: flex;
    align-items: center;
}

.mcase__about .mcase__color img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.mcase__about ul {
    margin-left: 20px;
}

.mcase__about li {
    color: #4B4B4B;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    list-style-type: disc;
}

.mcase__color {
    border-radius: 40px;
    padding: 32px;
    box-sizing: border-box;
}

.mcase__blue {
    background: #B4D7FF;
}

.mcase__blue b {
    margin-bottom: 16px;
    color: #272727;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mcase__blue p {
    margin-bottom: 24px;
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
    display: flex;
    align-items: center;
}

.mcase__blue img {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

.mcase1__block3 {
    padding: 120px 0 200px;
    border-radius: 80px 80px 0 0;
    background: #21282B;
}

.mcase1__title3 {
    margin-bottom: 48px;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase1__left3 {
    display: flex;
    justify-content: space-between;
    width: calc(50% - 16px);
}

.mcase1__left3 img {
    width: calc(50% - 10px);
}

.mcase1__right3 {
    width: calc(50% - 16px);
    border-radius: 32px;
    background: rgba(26, 33, 27, 0.32);
    backdrop-filter: blur(10px);
    padding: 32px;
    box-sizing: border-box;
}

.mcase1__item3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mcase1__item3 span {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mcase1__item3--right {
    display: flex;
    align-items: end;
    flex-direction: column;
}

.mcase1__item3--right b {
    color: #FFF;
    text-align: right;
    font-size: 32px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase1__item3--right p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.mcase1__bot3 {
    margin-top: 60px;
    position: relative;
}

.mcase1__bot3--incr {
    position: absolute;
    z-index: 2;
    bottom: 16px;
    left: 16px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.mcase1__block4 {
    border-radius: 80px 80px 0 0;
    padding: 120px 0 200px;
}

.mcase1__title4 {
    margin-bottom: 48px;
    color: #272727;
    font-size: 48px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase1__item4 {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
    border-bottom: 1px solid #B9B9B9;
    align-items: start;
}

.mcase1__item4 b {
    width: 310px;
    color: #272727;
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-transform: uppercase;
}

.mcase1__item4 p {
    margin: 0;
    color: #4B4B4B;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: calc(100% - 390px);
}

.mcase__others {
    padding: 120px 0;
    border-radius: 80px 80px 0 0;
    background: #F0F7FD;
}

.mcase__others--title {
    color: #272727;
    font-size: 48px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase__others--items {
    margin: 45px 0;
    display: flex;
    justify-content: space-between;
    height: 320px;
}

.mcase__others--item {
    display: block;
    height: 100%;
    width: calc(33% - 15px);
    position: relative;
}

.mcase__image-wrap img {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    display: block;
}

.mcase__image-wrap {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.mcase__image-wrap::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.7) 100%);
  pointer-events: none;
  border-radius: 32px;
}

.mcase__others--item b {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.333%;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
}

.mcase__others--all {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    border-radius: 32px;
    border: 1px solid rgba(73, 73, 73, 0.97);
    width: fit-content;
    text-decoration: none;
}

.mcase__others--all img {
    width: 28px;
    height: 28px;
    margin-right: 8px;
}

.mcase__others--all span {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.mcase__block {
    position: relative;
    margin-top: -100px; 
    left: 0;
    padding: 120px 0 220px;
    border-radius: 80px 80px 0 0;
    
}





.mcase__block {
    position: relative;
    margin-top: -100px;
    padding: 120px 0 220px;
    border-radius: 80px 80px 0 0;
    transition: transform 0.3s ease, filter 0.3s ease;
    transition: border-radius 0.3s ease;
}

.mcase__block:first-child {
    margin-top: 0;
}

.mcase__block:first-child {
    margin-top: 0;
}

.mcase1__block4 {
    background-color: #fff;
}

.mcase2__block1 {
    position: relative;
    height: 700px;
}

.mcase2__block1--wrapper {
    background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.mcase2__block1--bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mcase2__block1--bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mcase2__block1 .container {
    position: relative;
    z-index: 3;
    padding: 120px;
}

.mcase2__block1--content {
    width: 560px;
}

.mcase2__block1--content span {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-transform: uppercase;
}

.mcase2__block1--content h1 {
    margin: 16px 0 32px;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase2__block1--content p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mcase__about {
    border-radius: 80px 80px 0 0;
    background: #FFF;
    padding: 120px 0;
    margin-top: -100px;
}

.mcase__about .mcase__left {
    width: calc(50% - 16px);
}

.mcase__about .mcase__right {
    width: calc(50% - 16px);
}

.mcase__aboutpp--title {
    color: #272727;
    font-size: 48px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    display: block;
    margin-bottom: 32px;
}

.mcase__about--text {
    color: #4B4B4B;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120% 
}

.mcase2__block3 {
    border-radius: 80px 80px 0 0;
    background: #21282B;
    padding: 120px 0;
}

.mcase__screens img {
    border-radius: 24px;
    border: 2px solid #EFEFEF;
    width: calc(50% - 10px);
}

.mcase2__block4 {
    border-radius: 80px 80px 0 0;
    background: #F0F7FD;
    padding: 120px 0;
}

.mcase2__block4--top {
    display: flex;
    justify-content: space-between;
    margin: 45px 0;

}

.mcase2__block4--top b {
    color: #272727;
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-transform: uppercase;
    display: block;
    margin-right: 80px;
    max-width: 33%;
    padding-right: 30px;
}

.mcase2__block4--top p {
    color: #4B4B4B;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.increase-main {
    height: 230px;
    padding: 24px;
    box-sizing: border-box;
    position: relative;
    border-radius: 24px;
    background: #FFF;
}

.increase-main__img {
    width: 100%;
    height: 100%;
}

.increase-main__icon {
    position: absolute;
    width: 32px;
    height: 32px;
    cursor: pointer;
    left: 24px;
    bottom: 24px;
}

.mcase2__block5 {
    border-radius: 80px 80px 0 0;
    background: #21282B;
    padding: 120px 0;
}

.mcase2__block5--top {
    display: flex;
    justify-content: space-between;
}

.mcase2__block5--left {
    width: 450px;
}

.mcase2__block5--left img {
    width: 100%;
}

.mcase2__block5--right {
    width: calc(100% -  530px);
}

.mcase2__block5--title {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase2__block5--items {
    margin-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mcase2__block5--item b {
    color: #FFF;
    font-size: 80px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase2__block5--item p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    max-width: 250px;
}

.mcase2__block5--item {
    margin-bottom: 50px;
}

.mcase2__block6 {
    border-radius: 80px 80px 0 0;
    background: #FFF;
    padding: 120px 0;
}

.mcase2__block6--left {
    width: 450px;
}

.mcase2__block6--left img {
    width: 100%;
}

.mcase2__block6--right {
    width: calc(100% - 530px);
}

.mcase2__block6--title {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    margin-bottom: 45px;
}

.mcase2__block6--top {
    margin-bottom: 60px;
}

.mcase2__block6--items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.mcase2__block6--item p {
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin: 0;
}

.mcase2__block6--item b {
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase2__block7 {
    border-radius: 80px 80px 0 0;
    background: #21282B;
    padding: 120px 0;
}

.mcase2__block7--title {
    margin-bottom: 45px;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase2__block7--item {
    padding: 45px 0;
    border-bottom: 1px solid #B9B9B9;
    display: flex;
    justify-content: space-between;
}

.mcase2__block7--item:last-child {
    border-bottom: none;
}

.mcase2__block7--item b {
    width: 310px;
    display: block;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-transform: uppercase;
}

.mcase2__block7--text {
    width: calc(100% - 390px);
}

.mcase2__block7--text {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mcase2__block7--text ul {
    margin-left: 20px;
}

.mcase2__block7--text li {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
    list-style-type: disc;
}

.mcase3__block1 {
    position: relative;
    height: 700px;
}

.mcase3__block1--wrapper {
    background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.mcase3__block1--bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mcase3__block1--bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mcase3__block1 .container {
    position: relative;
    z-index: 3;
    padding: 120px;
}

.mcase3__block1--content {
    width: 560px;
}

.mcase3__block1--content span {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-transform: uppercase;
}
.mcase3__block1--title {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    margin: 16px 0 32px;
}

.mcase3__block1--bot {
    display: flex;
}

.mcase3__block1--item {
    margin-right: 45px;
}

.mcase3__block1--item b {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase3__block1--item p {
    margin-top: 8px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.mcase3__about--item2 b {
    color: #272727;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mcase3__about--item2 p {
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mcase3__about--item2 .mcase3__block1--item-bold {
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.mcase__orange {
    background: #FFD2AE;
} 

.mcase3__block2.mcase__about p {
    margin-bottom: 24px;
} 

.mcase3__block3 {
    border-radius: 80px 80px 0 0;
    background: #231912;
    padding: 120px 0;
}

.mcase3__block3--title {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase3__block3--title {
    margin-bottom: 16px;
}

.mcase3__block3--text {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mcase3__block3--bot {
    margin: 32px 0;
}

.mcase3__block3--text2 {
    margin-bottom: 120px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mcase3__block3--title2 {
    margin-bottom: 32px;
}

.mcase__list--flex {
    display: flex;
    flex-wrap: wrap;
    margin: 45px 0;
}

.mcase__list--flex li {
    margin-left: 20px;
    list-style-type: disc;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: calc(50% - 24px);
}

.mcase3__block3--text4 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 32px;
}

.mcase3__block4 {
    border-radius: 80px 80px 0 0;
    background: #FFD2AE;
    padding: 120px 0;
}

.mcase3__block4 .container {
    display: flex;
    justify-content: space-between;
}

.mcase3__block4--title {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase3__block4--items {
    display: flex;
    justify-content: space-between;

}

.mcase3__block4--item {
    width: 30%;
    max-width: 285px;
}

.mcase3__block4--item img {
    height: 540px;
    width: 100%;
    object-fit: cover;
    border-radius: 24px;
    border: 1px solid #5F3513;
}

.mcase3__block5 {
    background: #231912;
}

.mcase__concl--title {
    margin-bottom: 45px;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase__concl--item {
    padding: 48px 0;
    border-bottom: 1px solid #B9B9B9;
    display: flex;
    justify-content: space-between;
}

.mcase__concl--item:last-child {
    border-bottom: none;
}

.mcase__concl--item b {
    width: 310px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-transform: uppercase;
}

.mcase__concl--text {
    width: calc(100% - 390px);
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mcase__banner {
    position: relative;
    height: 700px;
    box-sizing: border-box;
    padding: 0;
}

.mcase__banner--wrapper {
    background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.mcase__banner--bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mcase__banner--bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mcase__banner .container {
    position: relative;
    z-index: 3;
    padding: 120px;
    height: 100%;
    box-sizing: border-box;
}

.mcase__banner--content {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.mcase__banner--content span {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-transform: uppercase;
}

.mcase__banner--content h1 {
    display: block;
    margin: 16px 0 24px;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase__banner--content p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.mcase__green {
    background: #C9DB99;
}

.mcase4__block2 .mcase__about--text {
    color: #272727;
}

.mcase4__block2.mcase__about li {
    color: #272727;
    margin-bottom: 15px;
}

.increase-main__img {
    width: 100%;
}

.mcase4__block2--text {
    margin-top: 30px;
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mcase4__block3 {
    background: #21282B;
} 

.mcase4__block2--title {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    margin-bottom: 45px;
}
.mcase4__left3 b {
    margin-bottom: 24px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.333%; 
    display: block;
}

.mcase4__left3 {
    width: calc(50% - 16px);
}

.mcase4__left3--text p{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 20px 0;
}

.mcase4__left3 {
    width: calc(50% - 16px);
}

.mcase4__left3 img {
    width: 100%;
    border-radius: 16px;
}

.mcase4__block3 .mcase__flex {
    margin-bottom: 60px;
} 

.mcase4__left3--items {
    border-radius: 32px;
    background: rgba(64, 84, 72, 0.32);
    backdrop-filter: blur(10px);
    width: calc(50% - 16px);
    padding: 32px;
    box-sizing: border-box;
}

.mcase4__left3--items b {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
    display: block;
    margin-bottom: 24px;
}

.mcase4__left3--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mcase4__left3--item span {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mcase4__left3--item p {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    margin: 0;
}

.mcase4__block4 {
    background: #FFF;
}

.ase4__block4--left1 {
    width: 450px;
}

.ase4__block4--left1 img {
    width: 100%;
}

.case4__block4--right1 {
    width: calc(100% - 530px);
}

.case4__block4--right1 span {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    display: block;
    margin-bottom: 45px;
}

.case4__block4--items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.case4__block4--item p {
    margin: 0;
    color: #272727; 
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.case4__block4--item b {
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.case4__block4--top {
    margin-bottom: 120px;
}

.case4__block4--left2 {
    width: calc(50% - 16px);
}

.case4__block4--left2 b {
    display: block;
    margin-bottom: 45px;
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.case4__block4--left2 p {
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.case4__block4--right2 {
    width: calc(50% - 16px);
}

.case4__block4--bot {
    align-items: center;
}

.mcase4__block5 {
    background: #21282B;
}

.mcase4__block5--left1 {
    width: calc(50% - 16px);
}

.mcase4__block5--right1 {
    width: calc(50% - 16px);
}

.mcase4__block5--right1 img {
    width: 100%;
}

.mcase4__block5--title {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase4__block5--text {
    margin: 32px 0 48px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mcase4__block5--items {
    display: flex;
    justify-content: space-between;
}

.mcase4__block5--item p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin: 0;
}

.mcase4__block5--item b {
    color: #FFF;
    font-size: 80px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase4__block5--bot {
    margin-top: 130px;
}

.mcase4__block5--subtitle {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    margin-bottom: 45px;
}

.mcase4__block5--content b {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-transform: uppercase;
    width: 310px;
    display: block;
}

.mcase4__block5--subrext {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: calc(100% - 390px);
}

.mcase4__block1--items {
    display: flex;
}

.mcase4__block1--item {
    margin-right: 45px;

}

.mcase4__block1--item b {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase4__block1--item p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin: 0;
}

.mcase5__block2 .mcase__about--title {
    font-size: 48px;
}

.mcase5__about--item2 span {
    color: #272727;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.333%;
    display: block;
    margin-bottom: 60px;
}

.mcase5__about--item2 b {
    font-size: 32px;
}

.mcase5__block3 {
    background: #21282B;
}

.mcase5__block3--top {
    display: flex;
    justify-content: space-between;
}

.mcase5__block3--top b {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 440px;
}

.mcase5__block3--top ul {
    width: 50%;
}

.mcase5__block3--top li {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
    list-style-type: disc;
}

.mcase5__block3--mid {
    margin: 120px 0;
}

.mcase5__block3--mid b {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    display: block;
}

.mcase5__block3--mid p {
    margin: 32px 0;
    max-width: 580px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mcase5__block3--bot b {
    display: block;
    margin-bottom: 32px;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase5__block3--items {
    display: flex;
    justify-content: space-between;
}

.mcase5__block3--item {
    border-radius: 32px;
    background: rgba(56, 64, 94, 0.32);
    backdrop-filter: blur(10px);
    width: calc(50% - 15px);
    padding: 32px;
    box-sizing: border-box;
}

.mcase5__block3--elem  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.mcase5__block3--elem p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.mcase5__block3--elem b {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    margin: 0;
}

.mcase5__block4 {
    background: #FFF;
}

.mcase5__block4--title {
    color: #272727;
    font-size: 32px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    margin-bottom: 48px;
}

.mcase5__block4--res.increase-main {
    height: 530px;
}

.mcase5__block4--bot {
    margin-top: 32px;
    color: #272727;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mcase5__block5 {
    background: #21282B;
} 

.mcase5__block5--text {
    max-width: 790px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.mcase5__block5--res {
    margin: 32px 0 80px;
}

.mcase5__block6 {
    background: #FFF;
}

.mcase5__block6--text {
    max-width: 790px;
}

.mcase5__block6--text p {
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.mcase5__block7 {
    background: #21282B;
} 

.mcase5__block7--text {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.mcase5__block7--res {
    margin: 32px 0 80px;
}

.mcase5__block8 {
    background: #FFF;
}

.mcase5__block8--title {
    max-width: 715px;
    color: #272727;
    font-size: 32px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase5__block8--res {
    margin: 32px 0 120px;
    height: 530px;
}

.mcase5__block8--bot {
    border-radius: 32px;
    background: #21282B;
    padding: 32px;
}

.mcase5__block8--bot b {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase5__block8--content {
    margin: 45px 0;
}

.mcase5__block8--content span {
    width: 310px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-transform: uppercase;
}

.mcase5__block8--content p {
    width: calc(100% - 390px);
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mcase__about--title {
    color: #272727;
    font-size: 48px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase5__about--text {
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mcase4__right2.mcase__blue b {
    margin-bottom: 12px;
} 

.mcase4__right2.mcase__blue p {
    margin: 0 0 24px;
}

.mcase6__block3 {
    background: #21282B;
} 

.mcase6__block3--left {
    width: 510px;
}

.mcase6__block3--left img {
    width: 100%;
}

.mcase6__block3--right {
    width: calc(100% - 575px);
}

.mcase6__block3--title1 {
    margin-bottom: 45px;
    display: block;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase6__block3--items {
    display: flex;
    gap: 65px;
    margin-top: 24px;
}

.mcase6__block3--item p {
    display: block;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin: 0;
}

.mcase6__block3--item b {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase6__block3--right hr {
    margin: 24px 0;
}

.mcase6__block3--text {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mcase6__block3--mid {
    margin: 65px 0;
}

.mcase6__block3--mid b {
    display: block;
    margin-bottom: 32px;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase6__block3--items4 {
    padding: 32px;
    border-radius: 32px;
    background: rgba(56, 64, 94, 0.32);
    backdrop-filter: blur(10px);
    width: calc(50% - 16px);
    box-sizing: border-box;
}

.mcase6__block3--item4 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.mcase6__block3--item4 span {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 370px;
}

.mcase6__block3--item4 p {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    margin: 0;
}

.mcase__advert {
    display: flex;
    justify-content: space-between;
}

.mcase__advert b {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    margin-right: 60px;
}

.mcase6__block3--bot {
    border-radius: 24px;
    background: rgba(56, 64, 94, 0.32);
    padding: 32px;
}

.mcase__advert img {
    object-fit: contain;
    height: fit-content;
}

.mcase6__block3--img1 {
    width: 48%;
}

.mcase6__block3--img2 {
    width: 30%;
}

.mcase6__block4 {
    background: #FFF;
} 

.mcase6__block4--top {
    margin-bottom: 64px;
}

.mcase6__block4--right {
    width: 43%;
}

.mcase6__block4--left {
    width: calc(57% - 65px);
}

.mcase6__block4--left span {
    display: block;
    margin-bottom: 45px;
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase6__block4--items {
    display: flex;
    margin-top: 24px;
}

.mcase6__block4--item {
    margin-right: 60px;
}

.mcase6__block4--item p {
    margin: 0;
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.mcase6__block4--item b {
    color: #272727;
    font-size: 48px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase6__block4--left hr {
    height: 1px;
    background-color: #BDBDBD;
    margin: 24px 0;
}

.mcase6__block4--bot {
    padding: 48px;
    border-radius: 32px;
    background: #21282B;
}

.mcase__advert img.mcase6__block4--rekl1 {
    width: 25%;
    height: 100%;
    max-height: 430px;
    object-fit:fill;
    border-radius: 16px;
}

.mcase__advert img.mcase6__block4--rekl2 {
    width: 20%;
    height: 100%;
    max-height: 430px;
    object-fit:fill;
    border-radius: 16px;
}

.mcase__advert img.mcase6__block4--rekl3 {
    width: 25%;
    height: 100%;
    max-height: 430px;
    object-fit:fill;
    border-radius: 16px;
}

.mcase6__block5 {
    background: #21282B;

}

.mcase6__block5--left {
    width: calc(45% - 65px);
}

.mcase6__block5--left img {
    width: 100%;
}

.mcase6__block5--right {
    width: 55%;
}

.mcase6__block5--title {
    margin-bottom: 45px;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase6__block5--items {
    display: flex;
}

.mcase6__block5--item {
    margin-right: 65px;
}

.mcase6__block5--item p {
    margin: 0;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.mcase6__block5--item b {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase6__block5--right hr {
    height: 1px;
    background-color: #BDBDBD;
    margin: 24px 0;
}

.mcase6__block5--text {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

.mcase6__block5--text2 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mcase6__block5--mid {
    margin: 65px 0;
    display: flex;
    justify-content: space-between;
}

.mcase6__block5--items2 {
    border-radius: 32px;
    background: rgba(56, 64, 94, 0.32);
    backdrop-filter: blur(10px);
    padding: 32px;
    width: calc(50% - 16px);
    box-sizing: border-box;
}

.mcase6__block5--items2 span {
    margin-bottom: 24px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: block;
}

.mcase6__block5--item2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.mcase6__block5--item2 p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.mcase6__block5--item2 b {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase6__block5--bot {
    border-radius: 32px;
    background: #21282B;
    padding: 48px;
}

.mcase6__block5--bot img {
    width: 26%;
    height: 100%;
    object-fit: fill;
}

.mcase7__left2 .mcase__about--text {
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130% ; 
}

.mcase7__right2--title {
    margin-bottom: 24px;
    color: #272727;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mcase7__right2--list {
    padding: 0 0 0 20px;
    margin: 0;
    
}

.mcase7__right2--list li {
    list-style-type: decimal;
    display: list-item;
}

.mcase7__right2--list li b {
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140% ; 
    display: inline;
}

.mcase7__right2--list li p {
    margin: 0;
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    display: inline;
}

.mcase7__block3 {
    background: #21282B;
}

.mcase7__block3--left {
    width: 460px;
}

.mcase7__block3--left b {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase7__block3--left p {
    margin: 32px 0;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mcase7__block3--left img {
    width: 100%;
}

.mcase7__block3--right {
    width: calc(100% - 525px);
}

.mcase7__block3--item {
    border-radius: 24px;
    background: rgba(56, 64, 94, 0.32);
    backdrop-filter: blur(10px);
    padding: 32px;
    margin-bottom: 24px;
}

.mcase7__block3--item b {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: block;
    margin-bottom: 16px;
}

.mcase7__block3--item ol, .mcase7__block3--item ul {
    margin: 0;
    padding: 0 0 0 20px;
}

.mcase7__block3--item ul {
    list-style-type: disc;
}

.mcase7__block3--item ol li, .mcase7__block3--item ul li {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    margin-bottom: 6px;
}

.mcase7__block4 {
    background: #FFF;
}

.mcase7__block4--left {
    width: calc(100% - 530px);
    border-radius: 24px;
    background: #B4D7FF;
    padding: 32px;
}

.mcase7__block4--left b {
    color: #272727;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: block;
    margin-bottom: 24px;
}

.mcase7__block4--left ul {
    padding-left: 20px;
    list-style-type: disc;
}

.mcase7__block4--left li {
    display: list-item;
}

.mcase7__block4--left li b {
    display: inline;
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.mcase7__block4--left li p {
    margin: 0;
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    display: inline;
}

.mcase7__block4--right {
    width: 435px;
}

.mcase7__block4--right img {
    width: 100%;
}

.mcase7__block5 {
    background: #21282B;
}
.mcase7__block5--content b {
    width: 310px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    text-transform: uppercase;
}

.mcase7__block5--content p {
    width: calc(100% - 390px);
    margin: 0;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mcase8__block1 {
    background-color: #E51E21;
}

.mcase__banner--content.mcase8__block1--left {
    width: 560px;
}

.mcase8__block1--right {
    width: calc(100% - 600px);
}

.mcase8__block1--content {
    align-items: center;
}

.mcase8__block2 {
    background: #FFF;
}

.mcase8__block2--left {
    margin-right: 140px;
}

.mcase8__block2--left b {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    display: block;
    margin-bottom: 24px;
}

.mcase8__block2--left img {
    width: 230px;
}

.mcase8__block2--top {
    border-radius: 24px;
    background: #21282B;
    padding: 55px 85px 48px;
    margin-bottom: 48px;
}

.mcase8__block2--right {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.mcase8__block2--items {
    border-radius: 24px;
    background: #FFB9BA;
    box-sizing: border-box;
    width: calc(50% - 16px);
    padding: 32px;
}

.mcase8__block2--items b {
    display: block;
    color: #272727;
    font-size: 24px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    margin-bottom: 32px;
}

.mcase8__block2--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.mcase8__block2--item p {
    max-width: 260px;
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mcase8__block2--text {
    color: #272727;
    font-size: 32px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.mcase8__block2--text span {
    color: #272727;
    font-size: 24px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase8__block3 {
    background: #21282B;
}

.mcase8__block3--left {
    width: 480px;
}

.mcase8__block3--left b {
    display: block;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase8__block3--left p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 32px 0 60px;
}

.mcase8__block3--right {
    width: calc(100% - 610px);
}

.mcase8__block3--item {
    padding-left: 45px;
    position: relative;

}


.mcase8__block3--item svg {
    position: absolute;
    left: -14px;
    top: 4px;
    width: 24px;
    height: 24px;
}

.mcase8__block3--item:last-child .mcase8__block3--border {
    background: transparent;
}

.mcase8__block3--border {
    width: 5px;
    height: 100%;
    background: #404040;
    position: absolute;
    left: -4px;
    top: 5px;
}

.mcase8__block3--item b {
    display: block;
    margin-bottom: 8px;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase8__block3--item p {
    margin: 0;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 54px;
}

.mcase8__block3--bot {
    margin-top: 120px;
}

.mcase8__block3--subtitle {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    margin-bottom: 48px;
}

.mcase8__block3--elem {
    padding: 32px;
    border-radius: 24px;
    background: rgba(94, 56, 57, 0.32);
    width: calc(50% - 16px);
    box-sizing: border-box;
}

.mcase8__block3--item2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
}

.mcase8__block3--item2 p {
    max-width: 260px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin: 0;
}

.mcase8__block3--item2:first-child p {
    font-weight: 750;
}

.mcase8__block3--item2:first-child .mcase8__block3--right2 {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.mcase8__block3--item2:first-child .mcase8__block3--right2 span {
    font-size: 20px;
}

.mcase8__block3--right2 b {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase8__block3--right2 span {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    margin-left: 5px;
}

.mcase8__block3--title2 {
    margin-bottom: 32px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase8__block3--item3 {
    position: relative;
    margin-bottom: 24px;
}

.mcase8__block3--item3 span {
    display: block;
    margin-bottom: 8px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mcase8__block3--bot2 {
    position: relative;
}

.mcase8__block3--bot2 b {
    width: 70px;
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase8__block3--line {
    width: calc(100% - 96px);
    height: 32px;
    border-radius: 8px;
    background: #FFF;
}

.mcase8__block3--redline {
    position: absolute;
    height: 32px;
    border-radius: 8px;
    background: #FF1C20;
    left: 0;
    z-index: 2;
}

.mcase8__block3--elem2 > div:nth-of-type(2) .mcase8__block3--redline  {
    width: calc(92% - 96px);
}

.mcase8__block3--elem2 > div:nth-of-type(3) .mcase8__block3--redline  {
    width: 7%;
}
.mcase8__block3--elem2 > div:nth-of-type(4) .mcase8__block3--redline  {
    width: 2%;
}
.mcase8__block3--elem2 > div:nth-of-type(5) .mcase8__block3--redline  {
    width: 2%;
}

.mcase8__block4 {
    background: #F0F7FD;
}

.mcase8__block4--top {
    margin-bottom: 48px;
}

.mcase8__block4--top b {
    display: block;
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    margin-right: 55px;
    white-space: nowrap;
}

.mcase8__block4--top p {
    margin: 0;
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.mcase8__block4--img {
    padding: 24px;
    border-radius: 24px;
    background: #FFF;
}

.mcase8__block4--img img {
    width: 100%;
    object-fit: contain;
}

.mcase8__block4--mid {
    margin: 120px 0 48px;
    justify-content: space-between;
}

.mcase8__block4--mid b {
    display: block;
    width: 310px;
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase8__block4--item {
    padding: 32px;
    border-radius: 24px;
    background: #FFF;
    margin-left: 24px;

}

.mcase8__block4--bot {
    display: flex;
    margin-top: 24px;
    align-items: center;
}

.mcase8__block4--bot p {
    display: block;
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 10px 0 0;
}

.mcase8__block4--bot span {
    color: #272727;
    font-size: 32px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase8__block4--item img {
    height: 42px;
    object-fit: contain;
    width: fit-content;
}

.mcase8__block4--img2 {
    padding: 24px;
    border-radius: 24px;
    background: #FFF;
}

.mcase8__block5 {
    background: #21282B;
}

.mcase8__block5--left {
    width: 40%;
}

.mcase8__block5--left span {
    display: block;
    margin-bottom: 44px;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase8__block5--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.mcase8__block5--item p {
    max-width: 270px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin: 0;
}

.mcase8__block5--item b {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase8__block5--right {
    border-radius: 24px;
    background: rgba(94, 56, 57, 0.32);
    backdrop-filter: blur(10px);
    padding: 32px;
    width: calc(60% - 32px);
    box-sizing: border-box;
}

.mcase8__block5--right span {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    display: block;
    margin-bottom: 32px;
}

.mcase8__block5--item2 {
   
    margin-bottom: 24px;
}

.mcase8__block5--item2 p {
    margin: 0;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mcase8__block5--bot2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.mcase8__block5--line {
    border-radius: 8px;
    background: #E0E0E0;
    width: calc(100% - 96px);
    height: 32px;
}

.mcase8__block5--bot2 b {
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase8__block5--color {
    position: absolute;
    border-radius: 8px;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
}

.mcase8__block5--right > div:nth-of-type(1) .mcase8__block5--bot2 .mcase8__block5--color {
    background: #F5610A;
    width: calc(24% - 20px);
}
.mcase8__block5--right > div:nth-of-type(2) .mcase8__block5--bot2 .mcase8__block5--color {
    background: #12B347;
    width: calc(37% - 20px);
}
.mcase8__block5--right > div:nth-of-type(3) .mcase8__block5--bot2 .mcase8__block5--color {
    background: #167EE6;
    width: calc(41% - 20px);
}
.mcase8__block5--right > div:nth-of-type(4) .mcase8__block5--bot2 .mcase8__block5--color {
    background: #8314BB;
    width: calc(79% - 20px);
}

.mcase8__block5--bot {
    margin-top: 48px;
}

.mcase8__block5--left2 {
    width: 40%;
}

.mcase8__block5--item3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: center;
}

.mcase8__block5--item3 p {
    margin: 0;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mcase8__block5--item3 span {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.mcase8__block5--item3 b {
    color: #FFF;
    text-align: right;
    font-size: 32px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    display: block;
}

.mcase8__block5--right2 {
    width: calc(60% - 32px);
    padding: 24px;
    border-radius: 24px;
    background: #FFF;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
}

.mcase8__block6 {
    background: #F0F7FD;
}

.mcase8__block6--top {
    margin-bottom: 48px;
}

.mcase8__block6--top b {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase8__block6--text {
    max-width: 800px;
}

.mcase8__block6--text p {
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 20px 0;
}

.mcase8__block6--bot {
    padding: 24px;
    border-radius: 24px;
    background: #FFF;
}

.mcase8__block7 {
    background: #21282B;
}

.mcase8__block7--left {
    width: 33%;
}

.mcase8__block7--left b {
    display: block;
    margin-bottom: 32px;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase8__block7--left p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mcase8__block7--right {
    width: calc(67% - 32px);
    padding: 24px;
    border-radius: 24px;
    background: #FFF;
    box-sizing: border-box;
    display: flex;
}

.mcase8__block7--left2 {
    width: 245px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mcase8__block7--left2 b {
    display: block;
    margin-bottom: 32px;
    color: #272727;
    font-family: "Avenir Next Cyr";
    font-size: 24px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase8__block7--right2 img {
    margin-left: -10px;
}

.mcase8__block7--right2 {
    width: calc(100% - 245px);
    margin-left: -10px;
}

.mcase8__block7--top {
    margin-bottom: 32px;
}

.mcase8__block7--items {
    padding: 32px;
    border-radius: 24px;
    background: rgba(94, 56, 57, 0.32);
    width: calc(50% - 16px);
    box-sizing: border-box;
}

.mcase8__block7--title {
    margin-bottom: 32px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase8__block7--item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: center;
}

.mcase8__block7--item p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    max-width: 310px;
    line-height: normal;
}

.mcase8__block7--left3 b {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    display: block;
    text-align: end;
}

.mcase8__block7--left3 span {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    text-align: end;
    display: block;
}

.mcase8__block8 {
    background: #F0F7FD;
}

.mcase8__block8--left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mcase8__block8--right {
    border-radius: 24px;
    background: #FFF;
    padding: 24px;
    width: calc(60% - 32px);
    box-sizing: border-box;
}

.mcase8__block8--title b {
    display: block;
    margin-bottom: 32px;
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase8__block8--title p {
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.mcase8__block8--bot2 {
    border-radius: 24px;
    background: #CAD96D;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mcase8__block8--bot2 p {
    width: 55%;
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.mcase8__block8--number b {
    color: #272727;
    text-align: right;
    font-size: 32px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    display: block;
}

.mcase8__block8--number p {
    color: #272727;
    margin: 0;
    display: block;
    font-size: 20px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase8__block8--right b {
    display: block;
    margin-bottom: 8px;
    color: #272727;
    font-size: 24px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase8__block8--right img {
    width: 100%;
    object-fit: contain;
}

.mcase8__block8--bot {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.mcase8__block8--item {
    width: calc(33% - 25px);
    padding: 24px;
    border-radius: 24px;
    background: #FFF;
    box-sizing: border-box;
}

.mcase8__block8--item b {
    display: block;
    margin-bottom: 16px;
    color: #272727;
    font-size: 24px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}

.mcase8__block8--item img {
    width: 100%;
    max-height: 275px;
}

.mcase8__block9 {
    background: #21282B;

} 

.mcase8__block9--title {
    text-align: end;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
    margin-bottom: 48px;
    padding-right: 100px;
}

.mcase8__block9--content img {
    width: 40%;
}

.mcase8__block9--items {
    width: calc(60% - 64px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.mcase8__block9--item p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin: 0;
    max-width: 265px;
}

.mcase8__block9--item b {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 750;
    line-height: normal;
}


.mcase__sticky-block {
    /* width: 100%;
    position: relative; */
    position: sticky;
    width: 100%;
}

.mcase__sticky-block.covered {
    transition: 0.3s;
}

.mcase__sticky-block.covered .mcase__cover  {
    z-index: 1;
    opacity: 0.6;  
}

.mcase__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;  
    background-color: #000;
    z-index: -1;
    transition: 0.3s;
    border-radius: 80px 80px 0 0;
    transition: opacity 0.3s ease;
    transition: border-radius 0.3s ease;
}

.mcase__sticky-block.noborder .mcase__block {
    border-radius: 0;
    transition: border-radius 0.3s ease;
}

.mcase__sticky-block.noborder .mcase__cover {
    border-radius: 0;
    transition: border-radius 0.3s ease;
}